extends layout

block content
  #main
    h2 Gallery Page |
      a(href="../") Most Recent
    #imageGallery
      each image in images
        ul.list-container
          li
            img(src=`../uploads/${image.file}` alt=`${image.imageData.title}` width="200px")
          li Title:
            a(href=`../gallery/${image._id}`) #{image.imageData.title}
          li Description: #{image.imageData.description}
          li Date: #{image.created_at}
          li
            button.btn.btn-xs.btn-default(type='button' onclick=`handleEditFileClick('${image._id}')`) Edit
            button.btn.btn-xs.btn-default(type='button' onclick=`handleDeleteFileClick(${image.file})`) Delete
